.spanName,
.spanNumber {
  display: flex;
  align-items: center;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }

  svg {
    margin-right: 6px;
  }
}

.btnWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
